* {
  margin: 0;
  padding: 0;
  /* background-color: #5a5a5a; */
  /* box-sizing: border-box; */
}
.main {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 50px 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
  background-color: #4158d0;
  background-image: linear-gradient(
    123deg,
    #4158d0 0%,
    #c850c0 14%,
    #ffcc70 32%,
    #ffffff 100%
  );

  /* background-color: #7ff748; */
}
.first-box {
  max-width: 70%;
  display: flex;
  gap: 20px;
  margin: 0px auto;
  padding: 50px 0;
  background-color: #05bb8d7e;
  /* background-image: linear-gradient(135deg, #075386 0%, #9599e2 100%); */
}
.first-card {
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
  max-width: 25%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ff5e5e;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
  gap: 10px;
  border-radius: 20px;
}
.first-img {
  width: 87.3%;
  border-radius: 20px;
}
.first-card h2 {
  font-size: 1.5rem;
}
.first-card p {
  font-size: 1rem;
}

.second-box {
  display: flex;
  gap: 15px;
  max-width: 70%;
  margin: 0px auto;
  padding: 50px 40px;

  margin-right: 138px;
  padding-right: 3px;
  margin-left: 200px;
  padding-left: 1px;

  background-color: #05bb8d7e;
  /* background-image: linear-gradient(135deg, #075386 0%, #9599e2 100%); */
}

.sec-card {
  max-width: 350px;
  height: 480px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0px;
  /* box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.3); */
  box-shadow: 0 45px 65px rgba(0, 0, 0, 0.5), 0 35px 22px rgba(0, 0, 0, 0.16);
  background-color: #fcfcfc;
  justify-items: center;
  align-content: center;
  /* place-self: center; */
  place-content: center;
  /* padding: 0px 35px 25px 35px; */
  padding-bottom: 35px;
  gap: 10px;
  border-radius: 20px;
}
.sec-img {
  width: 100%;
  height: 180px;
  /* height: 30%; */
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.textbox {
  /* padding: 10px 35px 25px 35px; */

  width: 75%;
  /* background-color: #7ff748; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: auto;
}
.amount-box {
  display: flex;
  width: 75%;
  margin: 8px 28px;
  background-color: #8bc6ec;
  border-radius: 10px;

  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}
.left-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.left-box img {
  width: 20%;
  /* width: 3.5rem; */
}
.paybt {
  width: 85%;
  margin: 8px 28px;
  background-color: rgb(22, 22, 79);
  color: white;
  height: 45px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.cancel {
  text-decoration: none;
  color: rgb(46, 43, 43);
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin: auto;
}

.third-box {
  max-width: 70%;
  display: flex;
  gap: 20px;
  margin: 0px auto;
  padding: 50px 0;
  background-color: #05bb8d7e;
  /* background-image: linear-gradient(135deg, #075386 0%, #9599e2 100%); */
}

.third-card {
  position: relative;
  max-width: 90%;
  display: flex;
  gap: 0px;
  margin: 0px auto;
  padding: 0px;
  /* background-color: #0f0f0f7e; */
  background-color: #a178df;
}
.part1 {
  display: flex;
  flex-direction: column;
  width: 37%;
  padding: 70px 60px;
  gap: 40px;
  color: #ffffff;
}
.test-no {
  display: flex;
  justify-content: space-between;
}
#number {
  font-size: 28px;
  font-weight: 600;
}
#unit {
  font-size: 12px;
}
.part2 {
  background-image: url(images/icon.jpg);
  width: 50%;
  height: 100%;
  background-size: contain;
  background-position: center;
}

/* .bkbox::before{
  width: 0%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;

}
.third-box:hover .bkbox{
  margin-left: 48px;
  width: 850px;
  height: 414px;
  background-color: #5854545d;
  z-index: 5;
  position: absolute;
  transition: left 5s ease;
} */
